<<<<<<< HEAD
/* Styles de base */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: var(--main-bg);
  color: var(--white);
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  display: flex;
  min-height: 100vh;
=======
/* Styles de base */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: var(--main-bg);
  color: var(--white);
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  display: flex;
  min-height: 100vh;
>>>>>>> 05238f3a83981a3c4a40aa1103d176ca2d031b9c
}