<<<<<<< HEAD
/* Styles du dashboard */
.dashboard-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.powerbi-container {
  width: 100%;
  max-width: 1200px;
  background: #000;
  border-radius: 12px;
  box-shadow: 0 4px 24px 0 rgba(0,0,0,0.18);
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
=======
/* Styles du dashboard */
.dashboard-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.powerbi-container {
  width: 100%;
  max-width: 1200px;
  background: #000;
  border-radius: 12px;
  box-shadow: 0 4px 24px 0 rgba(0,0,0,0.18);
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
>>>>>>> 05238f3a83981a3c4a40aa1103d176ca2d031b9c
}