/* Styles du logo */
.sidebar-logo {
  padding-left: -10px;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.sidebar-logo img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}